body {
	width: 100%;
	overflow-x: hidden;
}

body, h1, body, div, a, ol, ul, li, h2, p, em, img, button {
	padding: 0;
	margin: 0;
	outline: 0;
	font-family: 'Lato', sans-serif;
}

h1 {
	letter-spacing: 1px;
	font-weight: 700;
	font-size: 50px;
}


p {
	font-size: 20px;
}

a {
	color: #5ddfde;
	transition-duration: 0.2s;
}

a:hover {
	text-decoration: none;
	color: #197675;
}

#hacker {
	text-align: center;
	margin-top: 30vh;
	font-size: 40px;
}

#logo {
	position: fixed;
	top: 10px;
	left: 10px;
	transition-duration: 0.2;
	z-index: 99;
}

#logo img {
	width: 80px;
}

#logo:hover {
	opacity: 0.8;
	cursor: pointer;
}

#header {
	position: relative;
	padding: 25vh 10% 0vh 10%;
}

#headertext {
	position: relative;
	z-index: 30;
}

#headertext h1 {
	padding-bottom: 40px;
	color: #444;
	font-size: 60px;
	text-shadow: 0px 0px 15px #ddd;
}

#headertext a {
	font-size: 25px;
	padding: 15px 60px;
	color: white;
	background-color: #5ddfde;
	margin: 20px 0px;
	border-radius: 10px;
	transition-duration: 0.2s;
	box-shadow: 5px 5px 30px #ccc;
}

#headertext a:hover {
	background-color: #f37847;
	text-decoration: none;
	cursor: pointer;
}

#headerimg {
	width: 120%;
	margin-top: -15vh;
	margin-left: -10%;
}

#intro {
	padding: 34vh 16%;
	color: white;
	background: url("images/aboutimg.svg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center top;
}

#intro h1 {
	padding: 0px 0px 40px 0px;
	text-align: center;
}

#goals {
	padding: 10vh 10%;
	text-align: center;
}

#goals h1 {
	color: #444;
}

#goals .fas {
	font-size: 80px;
	padding: 20px 0px;
	color: #5ddfde;
}

#goals .col-md-6 {
	padding: 40px 6%;
}

#goals h2 {
	font-size: 30px;
	color: #f37847;
	padding: 10px 0px;
}

#goals p {
	color: #666;
}

#goals iframe {
	width: 80%;
}

#team {
	background: url("images/team.svg");
	background-size: cover;
	margin-top: -10vh;
	padding: 40vh 10% 40vh 10%;
	background-position: top center;
	text-align: center;
	position: relative;
	z-index: 12;
}

#team img {
	width: 600px;
	max-width: 60%;
}

#team h1 {
	color: white;
	padding-bottom: 30px;
}

#team h3 {
	font-size: 22px;
	padding: 10px 0px;
	color: white;
}

#contact {
	padding: 80px 10%;
	position: relative;
	z-index: 3;
	text-align: center;
}

#contact h3 {
	color: #f37847;
	font-size: 40px;
}
#footer {
	background-color: #444;
	padding: 10px 0px;
	width: 100%;
	color: white;
	text-align: center;
}

#footer p {
	font-size: 20px;
}

.slideanim {visibility:hidden;}

.slideanim2 {visibility:hidden;}

  .slideup {
      animation-name: slideup;
      -webkit-animation-name: slideup;
      animation-duration: 0.8s;
      -webkit-animation-duration: 0.8s;
      visibility: visible;
  }

  .slideleft {
      animation-name: slideleft;
      -webkit-animation-name: slideleft;
      animation-duration: 0.8s;
      -webkit-animation-duration: 0.8s;
      visibility: visible;
  }

  @keyframes slide {
    0% {
      opacity: 0;
      transform: translateY(40%);
    } 
    100% {
      opacity: 1;
      transform: translateY(0%);
    }
  }
  @-webkit-keyframes slideup {
    0% {
      opacity: 0;
      -webkit-transform: translateY(40%);
    } 
    100% {
      opacity: 1;
      -webkit-transform: translateY(0%);
    }
  }

  @keyframes slideleft {
    0% {
      opacity: 0;
      transform: translateX(-40%);
    } 
    100% {
      opacity: 1;
      transform: translateX(0%);
    }
  }
  @-webkit-keyframes slideleft {
    0% {
      opacity: 0;
      -webkit-transform: translateX(-40%);
    } 
    100% {
      opacity: 1;
      -webkit-transform: translateX(0%);
    }
  }


@media only screen and (max-width: 1050px) {
	#logo img {
		width: 60px;
	}

}

@media only screen and (max-width: 768px) {
	h1 {
		font-size: 35px;
	}
	p {
		font-size: 16px;
	}

	#logo img {
		width: 50px;
	}
	#header {
		position: relative;
		padding: 100px 6% 40px 6%;
	}
	#headertext h1 {
		font-size: 35px;
		padding-bottom: 30px;
	}

	#headertext a {
		font-size: 18px;
		padding: 10px 24px;
		background-color: #f37847;
	}

	#headertext a:hover {
		background-color: #5ddfde;
		text-decoration: none;
		cursor: pointer;
	}

	#headerimg {
		width: 100%;
		margin: 40px auto;
	}

	#intro {
		padding: 25vh 8% 35vh 8%;
		color: white;
		margin-top: -10vh;
		background-size: cover;
	}

	#goals {
		padding: 0px 8%;
	}

	#goals h1 {
		font-size: 35px;
	}

	#goals .fas {
		font-size: 60px;
	}

	#goals .col-sm-6 {
		padding: 30px 10%;
	}

	#goals h2 {
		font-size: 24px;
	}

	#team {
		margin-top: -30px;
		padding: 30vh 8%;
	}

	#team img {
		max-width: 80%;
	}

	#team h3 {
		font-size: 20px;
		padding: 6px 0px;
	}

	#contact {
		padding: 0px 8% 50px 8%;
	}

	#contact h3 {
		font-size: 22px;
	}

	#footer p {
		font-size: 17px;
	}
}
